// 数字字体
@font-face {
  font-family: electronicFont;
  src: url('../../assets/font/DS-DIGIT.TTF');
}
.demo1 {
  background: url('../../assets/images/bg.jpg') no-repeat top center;
  background-size: 100% 100%;
  line-height: 1.15;
  min-height: 100vh;
  overflow-y: auto;
  header {
    height: 1.25rem;
    background: url('../../assets/images/head_bg.png') no-repeat;
    background-size: 100% 100%;
    position: relative;
    h1 {
      font-size: .475rem;
      color: #fff;
      text-align: center;
      line-height: 1rem;
    }
    .showTime {
      position: absolute;
      top: 0;
      right: .375rem;
      line-height: .9375rem;
      color: rgba(255, 255, 255, .7);
      font-size: .25rem;
    }
  }
  main {
    min-width: 1024px;
    max-width: 1920px;
    margin: 0 auto;
    padding: .125rem .125rem 0;
    display: flex;
    // 公共样式
    .column {
      flex: 3;
      &:nth-child(2){
        flex: 5;
        margin: 0 .125rem .1875rem;
        display: flex;
        flex-direction: column;
      }
      .panel {
        height: 3.875rem;
        border: 1px solid rgba(25, 186, 139, .17);
        background: url('../../assets//images/line.png') no-repeat rgba(255, 255, 255, .04);
        background-size: 100% 100%;
        padding:  0 .1875rem .5rem;
        margin-bottom: .1875rem;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 10px;
          height: 10px;
          border-top: 2px solid #02a6b5;
          border-left: 2px solid #02a6b5;
        }
        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 10px;
          height: 10px;
          border-top: 2px solid #02a6b5;
          border-right: 2px solid #02a6b5;
        }
        .panelFooter {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 10px;
            height: 10px;
            border-bottom: 2px solid #02a6b5;
            border-left: 2px solid #02a6b5;
          }
          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: 10px;
            height: 10px;
            border-bottom: 2px solid #02a6b5;
            border-right: 2px solid #02a6b5;
          }
        }
        h2 {
          height: .6rem;
          line-height: .6rem;
          color: #fff;
          font-size: .25rem;
          text-align: center;
          font-weight: normal;
        }
        .chart {
          height: 3rem;
        }
      }
      // 单独设置
      .bar {
        
      }
      .no {
        background-color: rgba(101, 132, 226, .1);
        padding: .1875rem;
        .noHd {
          border: 1px solid rgba(25, 186, 139, .17);
          display: flex;
          position: relative;
          .noHdItem {
            flex: 1;
            height: 1rem;
            line-height: 1rem;
            font-size: .875rem;
            color: #ffeb7b;
            text-align: center;
            font-family: electronicFont;
            position: relative;
            &:nth-child(1) {
              // 中间的竖线
              &::after {
                content: '';
                position: absolute;
                top: 25%;
                right: 0;
                height: 50%;
                border-left: 1px solid rgba(255, 255, 255, .2);
              }
            }
          }
          &::before {
            content: '';
            border-top: 2px solid #02a6b5;
            border-left: 2px solid #02a6b5;
            width: .375rem;
            height: .125rem;
            position: absolute;
            top: 0;
            left: 0;
          }
          &::after {
            content: '';
            border-bottom: 2px solid #02a6b5;
            border-right: 2px solid #02a6b5;
            width: .375rem;
            height: .125rem;
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
        .noBd {
          display: flex;
          .noBdItem {
            flex: 1;
            text-align: center;
            color: rgba(255, 255, 255, .7);
            font-size: .225rem;
            height: .5rem;
            line-height: .5rem;
            padding-top: .125rem;
          }
        }
      }
      // 地图
      @keyframes rotate1 {
        from {
          transform: rotate(0);
        }
        to {
          transform: rotate(360deg);
        }
      }
      @keyframes rotate2 {
        from {
          transform: rotate(0);
        }
        to {
          transform: rotate(-360deg);
        }
      }
      .map {
        flex: 1;
        // height: 10.125rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .map1 {
          width: 6.475rem;
          height: 6.475rem;
          background: url(../../assets/images/map.png);
          background-size: 100% 100%;
          opacity: .3;
        }
        .map2 {
          width: 7.4rem;
          height: 7.4rem;
          position: absolute;
          background: url(../../assets/images/lbx.png);
          background-size: 100% 100%;
          opacity: .6;
          // 旋转动画
          animation: rotate1 15s linear infinite;
        }
        .map3 {
          width: 7.075rem;
          height: 7.075rem;
          position: absolute;
          background: url(../../assets/images/jt.png);
          background-size: 100% 100%;
          opacity: .6;
          // 旋转动画
          animation: rotate2 15s linear infinite;
        }
        .chart {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}